<h1><a href="/">Recipe Box</a></h1>

<%= @recipe.name() %>

<form action="/recipe/<%= @recipe.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="ingredients">List your ingredients:</label>
  <input type="text" name="ingredients">

  <label for="instructions">Write out instructions:</label>
  <input type="text" size="100" name="instructions">
  <button type="submit">Add</button>
</form>

<h3>Instructions</h3>

<%= @recipe.instructions %><br>

<h3>Ingredients</h3>
<%= @recipe.ingredients %><br>


<% @recipe.categories.each do |category| %>
<%= category.name %>
<% end %>

<form action="/recipe/<%= @recipe.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete recipe</button>
</form>
<br>

<form action="/recipe/<%= @recipe.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <button type="submit">Edit Recipe</button>
</form>
